<!-- footer---->
<div class="bottom-footer">
  <!-- 5 elementos FOOTER --->
  <div>
    <h4 class="footer">Nosotros</h4>
    <img src="/img/iconos/people.png" alt="people" class="people-icono">
    
  </div>

  <div>
    <h4 class="footer">Preguntas Frecuentes</h4>
    <div class="icon-preguntas">
      <img src="/img/iconos/conversation.png" alt="conversation" class="conversation-icono">
      
      <!-- <i class="fa-solid fa-circle-question"></i> -->
    </div>
    
  </div>

  <div>
    <h4 class="footer">Términos y condiciones</h4>
    <div class="icon-term&cond">
      <img src="/img/iconos/terms-and-conditions.png" alt="terms-and-conditionsclass" class="terms-and-conditions-icono">
      <!-- <i class="fas fa-file-contract"></i> -->
    </div>
  </div>

  <div>
    <h4 class="footer">Metodos de pago</h4>
    <div class="icon-metodos-pago">
      <img src="/img/iconos/debit-card.png" alt="debit-card" class="debit-card-icono">
      <!-- <i class="fa-brands fa-cc-mastercard"></i>
      <i class="fa-brands fa-cc-visa"></i>
      <i class="fa-brands fa-cc-amex"></i> -->
    </div>
  </div>

  <div>
    <h4 class="footer">Redes</h4>
    <div class="icon-redes">
      <img src="/img/iconos/facebook.png" alt="facebook" class="facebook-icono">
      <img src="/img/iconos/instagram.png" alt="instagram" class="instagram-icono">


      <!-- <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i> -->
    </div>
  </div>
</div>
